
<div class="all_keys_container">
  <%# <div data-key="81" class="one_key_container">
    <kbd>Q 81<br/>Sound 01</kbd>
    
  </div> %>

  <div data-key="83" class="one_key_container">
    <kbd>S 83<br/>Sound 02</kbd>
  </div>

  <div data-key="68" class="one_key_container">
    <kbd>D 68<br/>Sound 03</kbd>
  </div>

  <div data-key="70" class="one_key_container">
    <kbd>F 70<br/>Sound 04</kbd>
  </div>

  <div data-key="71" class="one_key_container">
    <kbd>G 71<br/>Sound 05</kbd>
  </div>

  <div data-key="72" class="one_key_container">
    <kbd>H 72<br/>Sound XX</kbd>
  </div>

  <div data-key="74" class="one_key_container">
    <kbd>J 74<br/>Sound XX</kbd>
  </div>

  <div data-key="75" class="one_key_container">
    <kbd>K 75<br/>Sound XX</kbd>
  </div>

  <div data-key="76" class="one_key_container">
    <kbd>L 76<br/>Sound XX</kbd>
  </div>


<!-- Ajout des tags audio en syntaxe rails -->
<%= audio_tag "do.wav", id: "sound_83" %>
<%= audio_tag "re.wav", id: "sound_68" %>
<%= audio_tag "mi.wav", id: "sound_70" %>
<%= audio_tag "fa.wav", id: "sound_71" %>
<%= audio_tag "sol.wav", id: "sound_72" %>
<%= audio_tag "la.wav", id: "sound_74" %>
<%= audio_tag "si.wav", id: "sound_75" %>
<%= audio_tag "do_octave.wav", id: "sound_76" %>


<!-- Appel du script drumkit.js en syntaxe rails -->
<% content_for :head do %>
  <%= javascript_include_tag "drumkit.js" %>
<% end %>

</div>
